asgiref>=3.6,<4
boto3==1.26.150
botocore==1.29.150
dj-database-url==0.5.0
Django==4.2.29
django-auto-logout==0.5.0
django-ckeditor==6.3.0
django-ckeditor-5==0.1.6
django-crispy-forms==1.14.0
django-dotenv==1.4.2
django-environ==0.9.0
django-filter==22.1
django-formset-js-improved==0.5.0.2
django-heroku==0.3.1
django-jazzmin==2.4.8
django-jquery-js==3.1.1
django-js-asset==1.2.2
django-mailgun-provider==0.2.3
django-plaintext-password==0.1.0
django-rest-auth==0.9.5
django-rest-framework==0.1.0
django-social-share==2.2.1
django-static-fontawesome==5.15.4.0
django-taggit==6.1.0
django-storages==1.13.2
django-templated-mail==1.1.1
django-tinymce==3.7.0
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
djangorestframework-simplejwt>=4.3.0,<5.0.0
djoser==2.1.0
gunicorn==20.1.0
pandas==2.3
lxml==4.9.3
Pillow==12.1.1
psycopg2-binary==2.9.11
python-decouple==3.5
requests==2.31.0
requests-oauthlib==1.3.1
rjsmin==1.1.0
sendgrid==6.12.5
uritemplate==4.1.1
urllib3==1.26.15
validate-email==1.3
whitenoise==6.12.0
django-import-export==4.4.0
shortuuid==1.0.13
django-shortuuidfield==0.1.3